<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
         
<body>
     
    
    <div class="container">
        <div class="login-container">
            <div class="login-box larger-box">
                <h2>Login</h2>
                <form method="POST" action="{{ url_for('login') }}" class="login-form">
                    {{ form.hidden_tag() }}

                    <div class="field-box">
                        <label for="UserName">{{ form.UserName.label }}</label><br>
                        {{ form.UserName(class_="form-control") }}
                        {% for error in form.UserName.errors %}
                            <span class="error">{{ error }}</span>
                        {% endfor %}
                    </div>

                    <div class="field-box">
                        <label for="Password">{{ form.Password.label }}</label><br>
                        {{ form.Password(class_="form-control") }}
                        {% for error in form.Password.errors %}
                            <span class="error">{{ error }}</span>
                        {% endfor %}
                    </div>

                    

                    <div class="field-box">
                        <a href="{{ url_for('forgot') }}">Forgot Password?</a>
                    </div>

                    <button type="submit" class="btn-register">Login</button>
                    
                    <!-- Register Here Button -->
                    <a href="{{ url_for('registerr') }}" class="register-link">Register Here</a>
                </form>
            </div>
        </div>
    </div>

    
</body>
</html>
